.divHomefoto {
    display: flex;
    justify-content: center;
    height: 50vh;
    margin-top: 6rem;
}

.homeFoto {
    animation: respiracion 4s ease-out infinite normal;

}

@keyframes respiracion {
    0% {
      transform: scale(0.7);
    }
  
    /* 25% {
      transform: scale(0.8);
    } */
  
    60% {
      transform: scale(1.05);
      
    }
  
    100% {
      transform: scale(0.7);
    }
  }