.elfooter {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(29, 29, 29, 0.897);
    min-height: 4vh;
}

.elfooter p {
    text-align: center;
    font-size: 1.5rem;
    color: white;
}